<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <button type="button"><a href="/auth/login">Login</a></button>
    <button type="button"><a href="/auth/logout">Logout</a></button>
    <button type="button"><a href="/">Home</a></button>
    <button type="button"><a href="/auth/google">Google+ Login</a></button>
  </body>
</html>
